h1, h4 {
    font-family: alwyn-new-web, sans-serif;
    font-style: normal;
    font-weight: 400;
}

h5 {
    font-family: alwyn-new-web, sans-serif;
    font-style: normal;
    font-weight: 700;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

.card-body a {
    color: orange;
}

.btn-warning {
    color: white;
}

.card:hover .btn-warning {
    background: white;
    color: orange;
}

.card:hover {
    background: orange;
    color: white;
}

.fa-linkedin-in:hover {
    background-color:#0077b5;
    color: white;
}

.fa-github:hover {
    background-color:#6c757d;
    color: white;
}

.fa-envelope:hover {
    background-color:#0077b5;
    color: white;
}

a > .rounded-circle {
    font-size: 2em;
    background: white;
    padding: 0.3em;
}

.card {
    box-shadow: 1px 2px 20px rgba(0,0,0,0.5);
}

.card-body h5 {
    height: 48px;
}

.card-body .taille {
    height: 120px;
}

.card-footer {
    color: black;
}

footer .rounded-circle {
    background: white;
    color: #498b84;
}

footer .rounded-circle:hover {
    background: #498b84;
    color: white;
}

.modal-header {
    background: orange;
    border-radius: 0px;
}

.modal-title {
    color: white;
}

.nav-link:hover {
    color: orangered;
}

.image{
    margin-top: -87px;
    box-shadow: 1px 2px 20px rgba(0,0,0,0.5);
}

.list-group-item {
    border : none;
}

.list-group > a {
    color: #80cbc4;
    text-decoration: none;
}

.list-group > a:hover {
    color: #498b84;
}

span {
    font-style: italic;
}

.bg {
    background: #35383a;
}

footer h5{
    color: white;
    font-size: 1.5em;
}

footer .copyright {
    color: white;
}

.image-footer {
    height: 144px;
    width: 144px;
    margin-top: -72px;
}

footer .btn-primary {
    background: white;
    color: #498b84;
    border-color: #498b84;
}

footer .btn-primary:hover{
    background: #498b84;
    border-color: #498b84;
}

footer .btn-primary:hover a{
    text-decoration: none;
}

#main {
    margin: 0;
    /*background-image: linear-gradient(0deg, rgba(15, 29, 94, 0.7), rgba(15, 29, 94, 0.7)), url("bg.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;*/
}