footer{
    background: #35383a;
}

.fa-linkedin-in:hover {
    background-color:#0077b5;
    color: white;
}

.fa-github:hover {
    background-color:#6c757d;
    color: white;
}

.fa-envelope:hover {
    background-color:#0077b5;
    color: white;
}

a > .rounded-circle {
    font-size: 2em;
    background: white;
    padding: 0.3em;
}

footer .rounded-circle {
    background: white;
    color: #498b84;
}

footer .rounded-circle:hover {
    background: #498b84;
    color: white;
}

.list-group-item {
    border : none;
}

.list-group > a {
    color: #46a79d;
    text-decoration: none;
}

.list-group > a:hover {
    color: #498b84;
}

span {
    font-style: italic;
}

.bg {
    background: #35383a;
}

footer h5{
    color: white;
    font-size: 1.5em;
}

footer .copyright {
    color: white;
}

.image-footer {
    height: 144px;
    width: 144px;
    margin-top: -72px;
}

footer .btn-primary {
    background: white;
    color: #498b84;
    border-color: #498b84;
}

footer .btn-primary:hover{
    background: #498b84;
    border-color: #498b84;
}

footer .btn-primary:hover a{
    text-decoration: none;
}
